@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-family: "Young Serif", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.desc::-webkit-scrollbar {
  width: 0;
}

@layer components {
  .link {
    @apply text-xl hover:ml-1 transition-all hover:text-blue-950;
  }
  .section {
    @apply ml-[300px] py-7 pr-5;
  }
  .section__title {
    @apply capitalize text-2xl text-gray-600;
  }
  .input-label {
    @apply text-lg flex flex-col text-gray-400;
  }
  .input {
    @apply max-w-[85%] mt-2 p-2 border !text-slate-500 border-gray-200 focus:outline-gray-300;
  }
  .input-error {
    @apply text-sm text-red-600 mt-2 block;
  }
  .btn {
    @apply w-fit bg-slate-600 text-white py-3 px-6 rounded-md hover:bg-slate-500 disabled:bg-slate-300;
  }
  .card {
    @apply rounded-md overflow-hidden  shadow-lg hover:shadow-xl transition-shadow flex flex-col gap-y-2 min-w-[300px] max-w-[300px];
  }
  .card__title {
    @apply text-2xl font-medium line-clamp-2;
  }
  .card__img {
    @apply object-cover rounded-tr-md rounded-tl-md  h-[200px] hover:scale-110 transition-transform;
  }
  .card__details {
    @apply relative p-5;
  }
  .card__time {
    @apply text-gray-400;
  }
  .card__tags {
    @apply whitespace-nowrap overflow-hidden flex gap-1;
  }
  .card__tags p {
    @apply bg-slate-300 w-fit lowercase text-gray-600 text-sm p-1 rounded-md;
  }
  .card__likes {
    @apply text-gray-500 text-sm;
  }
  .delete-icon {
    @apply absolute bottom-6 right-5 text-lg text-gray-500 hover:text-black;
  }
  .profile-input {
    @apply border p-2 focus:outline-indigo-200 text-indigo-300 border-gray-200 rounded-md;
  }
  .heart-svg {
    @apply absolute right-[60px] text-3xl top-[60px] cursor-pointer;
  }
}
